In [1]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
import multiprocessing
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import StandardScaler

from transformers import get_cosine_schedule_with_warmup

import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader, TensorDataset, sampler

from imblearn.over_sampling import SMOTE

In [2]:
device = torch.device('cuda:1') if torch.cuda.is_available() else torch.device('cpu')
device

device(type='cuda', index=1)

In [3]:
train = pd.read_csv('./data/df_train00.csv')
test = pd.read_csv('./data/df_test00.csv')

In [4]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold

from xgboost import XGBClassifier, XGBRegressor
from catboost import CatBoostClassifier, CatBoostRegressor
from imblearn.over_sampling import SMOTE, SMOTENC

In [5]:
xgb_params = {
    'booster': 'gbtree',
    'grow_policy': 'lossguide',
    'max_depth': 0,
    'learning_rate': 0.4,
    # 'n_estimators': 25,
    'reg_lambda': 100,
    'reg_alpha' : 10,
    'subsample': 0.9,
    'num_parallel_tree': 1,
    # 'colsample_bytree' : 0.9,
    'colsample_bynode' : 0.9
    # 'rate_drop': 0.3
}

In [6]:
random_seed = 6327
strategy = {0:300, 1:300}

In [7]:
train['class'].value_counts()

1    114
2     79
0     69
Name: class, dtype: int64

In [8]:
ae = pd.read_csv("./data/ae_values.csv")
# target_idx = train[train['class'] != 0].index.tolist()
train2 = train.copy().reset_index(drop=True)
# train2['class'] = train2['class'] -1

train2 = pd.concat([train2, ae[:len(train2)]], axis=1)
test2 = pd.concat([test, ae[len(train2):].reset_index(drop=True)], axis=1)
train2['class'].value_counts()

1    114
2     79
0     69
Name: class, dtype: int64

In [15]:
y1 = (train2['class'].values == 0).astype(int)
y2 = (train2['class'].values == 1).astype(int)
y3 = (train2['class'].values == 2).astype(int)

X = train2.drop(['id', 'class'], axis=1)
X.iloc[:,:16] = X.iloc[:,:16].astype('category')


X_test = test2.drop(['id', 'class'], axis=1)
X_test.iloc[:,:16] = X_test.iloc[:,:16].astype('category')

smote = SMOTENC(categorical_features=[x for x in range(16)], random_state=random_seed, sampling_strategy=strategy)
X_train1, y_train1 = smote.fit_resample(X, y1)
X_train2, y_train2 = smote.fit_resample(X, y2)
X_train3, y_train3 = smote.fit_resample(X, y3)

X_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trait         600 non-null    category
 1   SNP_01        600 non-null    category
 2   SNP_02        600 non-null    category
 3   SNP_03        600 non-null    category
 4   SNP_04        600 non-null    category
 5   SNP_05        600 non-null    category
 6   SNP_06        600 non-null    category
 7   SNP_07        600 non-null    category
 8   SNP_08        600 non-null    category
 9   SNP_09        600 non-null    category
 10  SNP_10        600 non-null    category
 11  SNP_11        600 non-null    category
 12  SNP_12        600 non-null    category
 13  SNP_13        600 non-null    category
 14  SNP_14        600 non-null    category
 15  SNP_15        600 non-null    category
 16  SNP_01_ratio  600 non-null    float64
 17  SNP_02_ratio  600 non-null    float64
 18  SNP_03_ratio  600 non-null    float64
 19  SNP_04_ratio  600 non-null    float64
 20  SNP_05_ratio  600 non-null    float64
 21  SNP_06_ratio  600 non-null    float64
 22  SNP_07_ratio  600 non-null    float64
 23  SNP_08_ratio  600 non-null    float64
 24  SNP_09_ratio  600 non-null    float64
 25  SNP_10_ratio  600 non-null    float64
 26  SNP_11_ratio  600 non-null    float64
 27  SNP_12_ratio  600 non-null    float64
 28  SNP_13_ratio  600 non-null    float64
 29  SNP_14_ratio  600 non-null    float64
 30  SNP_15_ratio  600 non-null    float64
 31  trait_ratio   600 non-null    float64
 32  encodings_0   600 non-null    float64
 33  encodings_1   600 non-null    float64
 34  encodings_2   600 non-null    float64
 35  encodings_3   600 non-null    float64
 36  encodings_4   600 non-null    float64
 37  encodings_5   600 non-null    float64
 38  encodings_6   600 non-null    float64
 39  errors        600 non-null    float64
dtypes: category(16), float64(24)
memory usage: 124.1 KB

In [18]:
def lgbmc(inputX, inputY) :  
    var_categ = inputX.columns.tolist()[:16]
    model = CatBoostClassifier(
        cat_features=var_categ,
        iterations=100,
        learning_rate=0.3,
        task_type='GPU',
        devices='0',
        # random_state=random_seed
        )
  
    model.fit(
        inputX, inputY,
        eval_set=(inputX, inputY),
        verbose=10
        );     

    pred = model.predict(inputX)
    score = f1_score(inputY, pred, average='macro')
    print(score)
    
    return model

In [19]:
def lgbmr(inputX, inputY) :  
    var_categ = inputX.columns.tolist()[:16]
    model = CatBoostRegressor(
        cat_features=var_categ,
        iterations=100,
        learning_rate=0.3,
        task_type='GPU',
        devices='5',
        # random_state=random_seed
        )
  
    model.fit(
        inputX, inputY,
        eval_set=(inputX, inputY),
        verbose=10
        );     

    pred = model.predict(inputX)
    score = f1_score(inputY, np.round(pred), average='macro')
    print(score)
    
    return model

In [20]:
model1_c = lgbmc(X_train1, y_train1)
model1_r = lgbmr(X_train1, y_train1)

0:	learn: 0.1889728	test: 0.1889728	best: 0.1889728 (0)	total: 10.3ms	remaining: 1.02s
10:	learn: 0.0024916	test: 0.0024916	best: 0.0024916 (10)	total: 100ms	remaining: 812ms
20:	learn: 0.0010751	test: 0.0010751	best: 0.0010751 (20)	total: 192ms	remaining: 722ms
30:	learn: 0.0007326	test: 0.0007326	best: 0.0007326 (30)	total: 287ms	remaining: 639ms
40:	learn: 0.0005559	test: 0.0005559	best: 0.0005559 (40)	total: 381ms	remaining: 548ms
50:	learn: 0.0004556	test: 0.0004556	best: 0.0004556 (50)	total: 474ms	remaining: 456ms
60:	learn: 0.0003832	test: 0.0003832	best: 0.0003832 (60)	total: 568ms	remaining: 363ms
70:	learn: 0.0003355	test: 0.0003355	best: 0.0003355 (70)	total: 661ms	remaining: 270ms
80:	learn: 0.0002961	test: 0.0002961	best: 0.0002961 (80)	total: 755ms	remaining: 177ms
90:	learn: 0.0002679	test: 0.0002679	best: 0.0002679 (90)	total: 848ms	remaining: 83.9ms
99:	learn: 0.0002459	test: 0.0002459	best: 0.0002459 (99)	total: 933ms	remaining: 0us
bestTest = 0.0002458828191
bestIteration = 99
1.0
0:	learn: 0.3574023	test: 0.3574023	best: 0.3574023 (0)	total: 5.52ms	remaining: 547ms
10:	learn: 0.0150413	test: 0.0150413	best: 0.0150413 (10)	total: 48.2ms	remaining: 390ms
20:	learn: 0.0043720	test: 0.0043720	best: 0.0043720 (20)	total: 93.5ms	remaining: 352ms
30:	learn: 0.0028060	test: 0.0028060	best: 0.0028060 (30)	total: 140ms	remaining: 313ms
40:	learn: 0.0019483	test: 0.0019483	best: 0.0019483 (40)	total: 188ms	remaining: 270ms
50:	learn: 0.0014260	test: 0.0014260	best: 0.0014260 (50)	total: 235ms	remaining: 226ms
60:	learn: 0.0011305	test: 0.0011340	best: 0.0011340 (60)	total: 282ms	remaining: 180ms
70:	learn: 0.0009063	test: 0.0009104	best: 0.0009104 (70)	total: 329ms	remaining: 135ms
80:	learn: 0.0007410	test: 0.0007467	best: 0.0007467 (80)	total: 376ms	remaining: 88.3ms
90:	learn: 0.0006265	test: 0.0006344	best: 0.0006344 (90)	total: 424ms	remaining: 41.9ms
99:	learn: 0.0005534	test: 0.0005604	best: 0.0005604 (99)	total: 466ms	remaining: 0us
bestTest = 0.0005604339046
bestIteration = 99
1.0

In [21]:
model2_c = lgbmc(X_train2, y_train2)
model2_r = lgbmr(X_train2, y_train2)

0:	learn: 0.3508702	test: 0.3508702	best: 0.3508702 (0)	total: 9.86ms	remaining: 977ms
10:	learn: 0.0375930	test: 0.0373823	best: 0.0373823 (10)	total: 101ms	remaining: 815ms
20:	learn: 0.0205067	test: 0.0209386	best: 0.0209386 (20)	total: 194ms	remaining: 731ms
30:	learn: 0.0114990	test: 0.0117605	best: 0.0117605 (30)	total: 287ms	remaining: 639ms
40:	learn: 0.0078347	test: 0.0082826	best: 0.0082826 (40)	total: 381ms	remaining: 548ms
50:	learn: 0.0054869	test: 0.0059151	best: 0.0059151 (50)	total: 475ms	remaining: 456ms
60:	learn: 0.0042227	test: 0.0045699	best: 0.0045699 (60)	total: 569ms	remaining: 364ms
70:	learn: 0.0032153	test: 0.0035079	best: 0.0035079 (70)	total: 663ms	remaining: 271ms
80:	learn: 0.0025846	test: 0.0028277	best: 0.0028277 (80)	total: 756ms	remaining: 177ms
90:	learn: 0.0022902	test: 0.0025311	best: 0.0025311 (90)	total: 850ms	remaining: 84ms
99:	learn: 0.0020304	test: 0.0022614	best: 0.0022614 (99)	total: 932ms	remaining: 0us
bestTest = 0.002261374394
bestIteration = 99
1.0
0:	learn: 0.3961830	test: 0.3961829	best: 0.3961829 (0)	total: 5.59ms	remaining: 554ms
10:	learn: 0.1217302	test: 0.1217357	best: 0.1217357 (10)	total: 53.9ms	remaining: 436ms
20:	learn: 0.1001942	test: 0.1009258	best: 0.1009258 (20)	total: 103ms	remaining: 386ms
30:	learn: 0.0848485	test: 0.0857218	best: 0.0857218 (30)	total: 151ms	remaining: 336ms
40:	learn: 0.0716717	test: 0.0740685	best: 0.0740685 (40)	total: 199ms	remaining: 286ms
50:	learn: 0.0584449	test: 0.0623378	best: 0.0623378 (50)	total: 247ms	remaining: 237ms
60:	learn: 0.0514749	test: 0.0557499	best: 0.0557499 (60)	total: 295ms	remaining: 188ms
70:	learn: 0.0426872	test: 0.0469365	best: 0.0469365 (70)	total: 343ms	remaining: 140ms
80:	learn: 0.0373344	test: 0.0417751	best: 0.0417751 (80)	total: 394ms	remaining: 92.5ms
90:	learn: 0.0339651	test: 0.0385985	best: 0.0385985 (90)	total: 441ms	remaining: 43.7ms
99:	learn: 0.0298873	test: 0.0347294	best: 0.0347294 (99)	total: 485ms	remaining: 0us
bestTest = 0.03472940794
bestIteration = 99
1.0

In [22]:
model3_c = lgbmc(X_train3, y_train3)
model3_r = lgbmr(X_train3, y_train3)

0:	learn: 0.3426727	test: 0.3426727	best: 0.3426727 (0)	total: 9.42ms	remaining: 933ms
10:	learn: 0.0434551	test: 0.0449024	best: 0.0449024 (10)	total: 99.1ms	remaining: 802ms
20:	learn: 0.0203931	test: 0.0213878	best: 0.0213878 (20)	total: 190ms	remaining: 716ms
30:	learn: 0.0138036	test: 0.0149495	best: 0.0149495 (30)	total: 281ms	remaining: 625ms
40:	learn: 0.0114773	test: 0.0132440	best: 0.0132384 (39)	total: 372ms	remaining: 535ms
50:	learn: 0.0069133	test: 0.0084164	best: 0.0084164 (50)	total: 463ms	remaining: 445ms
60:	learn: 0.0055428	test: 0.0071577	best: 0.0071365 (59)	total: 554ms	remaining: 354ms
70:	learn: 0.0044716	test: 0.0057233	best: 0.0057233 (70)	total: 646ms	remaining: 264ms
80:	learn: 0.0039251	test: 0.0051740	best: 0.0051740 (80)	total: 739ms	remaining: 173ms
90:	learn: 0.0033844	test: 0.0046206	best: 0.0046206 (90)	total: 830ms	remaining: 82ms
99:	learn: 0.0029166	test: 0.0041564	best: 0.0041564 (99)	total: 911ms	remaining: 0us
bestTest = 0.004156390429
bestIteration = 99
0.9983333287036908
0:	learn: 0.3914790	test: 0.3914790	best: 0.3914790 (0)	total: 5.25ms	remaining: 520ms
10:	learn: 0.1209359	test: 0.1206430	best: 0.1206430 (10)	total: 51ms	remaining: 412ms
20:	learn: 0.0949617	test: 0.0957127	best: 0.0957127 (20)	total: 96.6ms	remaining: 363ms
30:	learn: 0.0789548	test: 0.0817518	best: 0.0817518 (30)	total: 142ms	remaining: 317ms
40:	learn: 0.0682770	test: 0.0716115	best: 0.0716115 (40)	total: 188ms	remaining: 270ms
50:	learn: 0.0574646	test: 0.0616911	best: 0.0616911 (50)	total: 234ms	remaining: 225ms
60:	learn: 0.0485464	test: 0.0531965	best: 0.0531965 (60)	total: 280ms	remaining: 179ms
70:	learn: 0.0410965	test: 0.0463481	best: 0.0463481 (70)	total: 325ms	remaining: 133ms
80:	learn: 0.0350477	test: 0.0410468	best: 0.0410468 (80)	total: 369ms	remaining: 86.7ms
90:	learn: 0.0307950	test: 0.0372123	best: 0.0372123 (90)	total: 414ms	remaining: 40.9ms
99:	learn: 0.0271361	test: 0.0340998	best: 0.0340998 (99)	total: 454ms	remaining: 0us
bestTest = 0.03409975715
bestIteration = 99
1.0

In [23]:
pred1 = model1_c.predict_proba(X_test)[:,1]
pred2 = model1_r.predict(X_test)
pred3 = model2_c.predict_proba(X_test)[:,1]
pred4 = model2_r.predict(X_test)
pred5 = model3_c.predict_proba(X_test)[:,1]
pred6 = model3_r.predict(X_test)

A_prob = pred1+pred2
B_prob = pred3+pred4
C_prob = pred5+pred6

In [26]:
high1 = pd.read_csv("./data/submit_0.99078.csv")
high2 = pd.read_csv("./data/submit_0.99078_2.csv")
high3 = pd.read_csv("./data/submit_0.99078_3.csv")
high4 = pd.read_csv("./data/submit_0.99078_4.csv")

total = pd.DataFrame()
total['high1'] = high1['class']
total['high2'] = high2['class']
total['high3'] = high3['class']
total['high4'] = high4['class']

total['pred1'] = pred1
total['pred2'] = pred2
total['pred3'] = pred3
total['pred4'] = pred4
total['pred5'] = pred5
total['pred6'] = pred6

total['a_prob'] = A_prob
total['b_prob'] = B_prob
total['c_prob'] = C_prob

total

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob
0,A,A,A,A,0.999921,1.000859,0.000191,-0.038390,0.000839,0.009809,2.000779,-0.038199,0.010647
1,B,B,B,B,0.002353,0.003054,0.999000,1.020866,0.000981,0.075278,0.005407,2.019865,0.076259
2,C,C,C,C,0.000171,-0.000354,0.001147,-0.036302,0.999456,0.971063,-0.000183,-0.035155,1.970518
3,C,C,C,C,0.000703,0.059251,0.989858,0.827082,0.257562,0.353230,0.059954,1.816940,0.610793
4,A,A,A,A,0.999488,0.999781,0.000555,0.030069,0.000620,0.020374,1.999270,0.030624,0.020994
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,B,B,B,B,0.000536,0.002013,0.988348,0.750444,0.018456,0.205311,0.002549,1.738793,0.223767
171,C,C,C,C,0.000188,-0.003437,0.011012,-0.042793,0.999041,1.134835,-0.003250,-0.031781,2.133875
172,C,C,C,C,0.000186,-0.002761,0.018094,0.246725,0.991324,0.973074,-0.002575,0.264819,1.964398
173,B,B,B,B,0.000153,-0.001297,0.997888,0.769182,0.001223,0.072467,-0.001144,1.767070,0.073690
174,B,B,B,B,0.000751,-0.000097,0.944840,0.710050,0.072361,0.174481,0.000654,1.654889,0.246842

In [60]:
a_index = total[total.a_prob >= 0.9].index.tolist()
b_index = total[total.b_prob >= 0.9].index.tolist()
c_index = total[total.c_prob >= 0.9].index.tolist()

print(len(a_index), len(b_index), len(c_index), len(a_index)+len(b_index)+len(c_index))

51 86 39 176

In [61]:
total.iloc[a_index]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob
0,A,A,A,A,0.999921,1.000859,0.000191,-0.038390,0.000839,0.009809,2.000779,-0.038199,0.010647
4,A,A,A,A,0.999488,0.999781,0.000555,0.030069,0.000620,0.020374,1.999270,0.030624,0.020994
8,A,A,A,A,0.999876,0.988324,0.000545,0.256447,0.003883,0.205078,1.988200,0.256992,0.208960
9,A,A,A,A,0.999959,1.000483,0.000068,-0.010181,0.000149,0.007725,2.000442,-0.010113,0.007874
13,A,A,A,A,0.999745,0.999960,0.000348,0.005830,0.000402,-0.005606,1.999705,0.006178,-0.005204
16,A,A,A,A,0.999912,0.999759,0.000031,-0.002186,0.000190,0.004804,1.999671,-0.002155,0.004994
23,A,A,A,A,0.999930,0.999686,0.000031,0.013661,0.000111,-0.026143,1.999617,0.013692,-0.026032
27,A,A,A,A,0.999626,1.000556,0.000140,-0.022307,0.000537,0.058160,2.000181,-0.022167,0.058696
28,A,A,A,A,0.999921,0.949956,0.000261,0.094900,0.000565,0.021830,1.949877,0.095162,0.022395
30,A,A,A,A,0.999902,1.000141,0.003403,-0.061683,0.002186,0.039576,2.000043,-0.058280,0.041762
31,A,A,A,A,0.999715,1.000347,0.000504,0.003396,0.001458,0.005373,2.000062,0.003900,0.006831
34,A,A,A,A,0.999941,1.000406,0.000087,-0.029439,0.000241,-0.002054,2.000347,-0.029352,-0.001813
40,A,A,A,A,0.999951,1.000607,0.000070,-0.005634,0.000175,-0.024293,2.000558,-0.005564,-0.024118
50,A,A,A,A,0.999665,0.999830,0.000112,0.005456,0.000353,-0.018868,1.999495,0.005568,-0.018515
52,A,A,A,A,0.999930,0.999492,0.002367,0.104961,0.015344,0.146907,1.999422,0.107328,0.162250
57,A,A,A,A,0.999898,0.996208,0.000152,-0.018097,0.000762,0.022103,1.996105,-0.017945,0.022865
60,A,A,A,A,0.999857,0.939122,0.001447,0.204675,0.128597,0.246461,1.938979,0.206122,0.375057
65,A,A,A,A,0.999893,0.999662,0.002840,0.171331,0.001185,0.128711,1.999555,0.174172,0.129895
67,A,A,A,A,0.999765,0.999753,0.000170,0.009885,0.000380,-0.000649,1.999518,0.010055,-0.000268
68,A,A,A,A,0.999747,1.000008,0.000069,-0.002748,0.000173,0.030121,1.999755,-0.002679,0.030293
72,A,A,A,A,0.999419,1.000015,0.000088,-0.019576,0.000724,0.019425,1.999435,-0.019488,0.020149
73,A,A,A,A,0.999797,0.999872,0.000129,-0.006004,0.000335,-0.043239,1.999669,-0.005875,-0.042904
82,A,A,A,A,0.999923,0.999694,0.000115,0.012672,0.000132,-0.039251,1.999617,0.012787,-0.039119
89,A,A,A,A,0.999956,0.999603,0.000108,-0.001389,0.000104,-0.047905,1.999558,-0.001281,-0.047801
96,A,A,A,A,0.999496,1.000174,0.000088,-0.034999,0.001953,0.003842,1.999671,-0.034911,0.005795
98,A,A,A,A,0.999890,1.002120,0.000049,-0.018834,0.000128,0.007145,2.002010,-0.018785,0.007273
100,A,A,A,A,0.999763,0.999941,0.000589,0.017433,0.000683,-0.037106,1.999704,0.018022,-0.036423
104,A,A,A,A,0.999961,1.000004,0.000239,-0.025552,0.000497,0.004696,1.999966,-0.025313,0.005193
105,A,A,A,A,0.999893,0.999554,0.000292,-0.067804,0.000302,0.059129,1.999446,-0.067511,0.059431
108,A,A,A,A,0.999887,1.000381,0.001302,-0.020187,0.001084,0.069373,2.000269,-0.018885,0.070457
115,A,A,A,A,0.999907,1.003647,0.001660,-0.008809,0.001084,0.069373,2.003554,-0.007149,0.070457
116,A,A,A,A,0.999903,1.003593,0.001210,-0.030789,0.000661,0.066981,2.003496,-0.029579,0.067642
120,A,A,A,A,0.999925,1.000879,0.001416,-0.015017,0.000872,0.044119,2.000804,-0.013601,0.044990
128,A,A,A,A,0.999907,1.003630,0.001653,-0.008809,0.001084,0.075492,2.003537,-0.007155,0.076576
130,A,A,A,A,0.999908,1.000831,0.001856,-0.021055,0.002321,0.082706,2.000739,-0.019199,0.085027
131,A,A,A,A,0.999915,1.000882,0.001263,-0.055000,0.001371,0.062585,2.000797,-0.053737,0.063957
136,A,A,A,A,0.999946,1.000668,0.001549,-0.033019,0.000661,0.063979,2.000614,-0.031470,0.064639
137,A,A,A,A,0.999903,1.000711,0.001215,-0.041115,0.000661,0.063979,2.000614,-0.039901,0.064639
139,A,A,A,A,0.999908,1.003781,0.054030,0.099117,0.014646,0.167399,2.003689,0.153147,0.182046
140,A,A,A,A,0.999825,0.940389,0.034944,0.062677,0.042458,0.223803,1.940213,0.097621,0.266261
141,A,A,A,A,0.999904,1.003823,0.001215,-0.030789,0.000661,0.061591,2.003727,-0.029575,0.062252
146,A,A,A,A,0.999946,1.000655,0.005055,-0.028060,0.001592,0.093160,2.000601,-0.023005,0.094752
149,A,A,A,A,0.999925,1.000724,0.001378,-0.015017,0.000872,0.052320,2.000649,-0.013639,0.053192
150,A,A,A,A,0.999919,1.003018,0.001477,-0.037761,0.002403,0.083980,2.002937,-0.036285,0.086383
152,A,A,A,A,0.999907,1.003695,0.005416,-0.003850,0.002317,0.101671,2.003602,0.001566,0.103987
155,A,A,A,A,0.999946,1.002783,0.001664,-0.025154,0.001264,0.083967,2.002729,-0.023490,0.085231
156,A,A,A,A,0.999887,1.000570,0.001442,-0.020187,0.001706,0.060350,2.000457,-0.018744,0.062056
159,A,A,A,A,0.999903,1.003847,0.005067,-0.021606,0.002467,0.098238,2.003750,-0.016539,0.100705
164,A,A,A,A,0.999946,1.000668,0.001549,-0.033019,0.000661,0.063979,2.000614,-0.031470,0.064639
165,A,A,A,A,0.999927,1.004670,0.004322,0.012393,0.004278,0.105184,2.004597,0.016714,0.109462
169,A,A,A,A,0.999946,1.000315,0.001543,-0.033019,0.000661,0.066981,2.000261,-0.031476,0.067642

In [62]:
total.iloc[b_index]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob
1,B,B,B,B,0.002353,0.003054,0.999000,1.020866,0.000981,0.075278,0.005407,2.019865,0.076259
3,C,C,C,C,0.000703,0.059251,0.989858,0.827082,0.257562,0.353230,0.059954,1.816940,0.610793
5,C,C,C,C,0.000287,-0.001167,0.975314,0.626997,0.490775,0.540581,-0.000880,1.602311,1.031356
7,B,B,B,B,0.000120,-0.004663,0.993730,0.930551,0.002552,0.005946,-0.004543,1.924281,0.008497
11,B,B,B,B,0.000224,-0.001828,0.998290,0.926002,0.002585,0.034880,-0.001604,1.924292,0.037465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,B,B,B,B,0.000447,-0.002098,0.974286,0.753907,0.004919,0.139048,-0.001651,1.728193,0.143968
168,B,B,B,C,0.000285,-0.001529,0.762196,0.648140,0.062561,0.234181,-0.001244,1.410336,0.296742
170,B,B,B,B,0.000536,0.002013,0.988348,0.750444,0.018456,0.205311,0.002549,1.738793,0.223767
173,B,B,B,B,0.000153,-0.001297,0.997888,0.769182,0.001223,0.072467,-0.001144,1.767070,0.073690
174,B,B,B,B,0.000751,-0.000097,0.944840,0.710050,0.072361,0.174481,0.000654,1.654889,0.246842

In [63]:
total.iloc[c_index]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob
2,C,C,C,C,0.000171,-0.000354,0.001147,-0.036302,0.999456,0.971063,-0.000183,-0.035155,1.970518
5,C,C,C,C,0.000287,-0.001167,0.975314,0.626997,0.490775,0.540581,-0.000880,1.602311,1.031356
6,C,C,C,C,0.000109,0.006541,0.003705,-0.067221,0.994077,0.868775,0.006650,-0.063517,1.862852
10,C,C,C,C,0.000125,0.000154,0.000183,-0.014949,0.999559,0.993161,0.000279,-0.014766,1.992720
19,C,C,C,C,0.000146,-0.000990,0.042537,0.341699,0.862689,0.713200,-0.000845,0.384236,1.575889
33,C,C,C,C,0.000392,0.000016,0.098809,0.108210,0.974197,0.806499,0.000409,0.207019,1.780696
36,C,C,C,C,0.001072,0.041298,0.000360,-0.003534,0.999174,0.995138,0.042370,-0.003174,1.994312
39,C,C,C,C,0.001254,-0.001326,0.008967,-0.021032,0.993091,0.820476,-0.000072,-0.012065,1.813567
42,C,C,C,C,0.000137,0.002287,0.023491,0.266034,0.988771,0.715164,0.002424,0.289526,1.703935
47,C,C,C,C,0.000523,-0.000134,0.004917,0.152239,0.997634,0.874592,0.000389,0.157156,1.872226
49,C,C,C,C,0.000136,-0.002736,0.003282,0.047454,0.999656,0.972793,-0.002600,0.050735,1.972450
56,C,C,C,C,0.000171,0.000952,0.003152,0.108440,0.955237,0.784578,0.001123,0.111592,1.739815
59,C,C,C,C,0.001320,-0.003394,0.001919,0.121585,0.998854,0.926138,-0.002074,0.123504,1.924992
62,C,C,C,C,0.000532,-0.000127,0.000592,-0.005464,0.999701,0.978937,0.000406,-0.004872,1.978638
63,C,C,C,C,0.000105,-0.000676,0.000338,0.045402,0.998750,0.927109,-0.000571,0.045740,1.925858
64,C,C,C,C,0.000139,-0.000433,0.102291,0.295253,0.807849,0.702299,-0.000294,0.397544,1.510147
74,C,C,C,C,0.000696,0.004110,0.000952,-0.244102,0.997514,0.978674,0.004806,-0.243150,1.976188
76,C,C,C,C,0.000500,-0.000689,0.001493,-0.039466,0.999931,1.071357,-0.000189,-0.037973,2.071288
80,C,C,C,C,0.000740,-0.001987,0.015924,0.300871,0.923782,0.605055,-0.001247,0.316796,1.528837
88,C,C,C,C,0.000298,0.002202,0.000611,0.125116,0.996217,0.885187,0.002500,0.125727,1.881405
92,C,C,C,C,0.000122,-0.001746,0.007587,0.152640,0.994920,0.882519,-0.001624,0.160228,1.877439
95,C,C,C,C,0.000675,0.000618,0.003027,0.028992,0.998723,0.956179,0.001293,0.032019,1.954902
99,C,C,C,C,0.000206,0.000234,0.030601,0.074864,0.992085,0.881537,0.000441,0.105464,1.873622
103,C,C,C,C,0.000251,-0.000665,0.002581,0.080554,0.954001,0.571115,-0.000414,0.083135,1.525116
106,C,C,C,C,0.000197,-0.002274,0.030762,0.066725,0.992437,0.987223,-0.002078,0.097487,1.979660
110,C,C,C,C,0.000306,0.002066,0.014276,-0.060088,0.989629,0.868957,0.002372,-0.045813,1.858586
117,C,C,C,C,0.000342,0.003759,0.128284,0.107935,0.965824,0.951854,0.004101,0.236219,1.917678
119,C,C,C,C,0.000229,0.000358,0.413266,0.665065,0.578031,0.414068,0.000587,1.078331,0.992099
123,C,C,C,C,0.000253,0.003330,0.055585,0.101477,0.926211,0.834912,0.003583,0.157062,1.761123
124,C,C,C,C,0.000492,0.005597,0.034336,0.044148,0.972472,0.906113,0.006088,0.078485,1.878585
135,C,C,C,C,0.000148,-0.000763,0.015440,-0.031290,0.996698,0.998329,-0.000616,-0.015851,1.995027
142,C,C,C,C,0.000492,0.001158,0.008137,0.001385,0.996275,0.908661,0.001650,0.009522,1.904935
148,C,C,C,C,0.000374,0.004685,0.032967,0.230156,0.995463,0.894492,0.005059,0.263123,1.889955
158,C,C,C,C,0.000205,-0.002275,0.024797,0.059400,0.995625,0.976481,-0.002070,0.084197,1.972106
161,C,C,C,C,0.000262,0.000964,0.059367,0.061959,0.995450,1.041656,0.001226,0.121326,2.037106
162,C,C,C,C,0.000227,0.010912,0.078368,0.341119,0.933170,0.722873,0.011139,0.419487,1.656042
166,C,C,C,C,0.000286,0.002307,0.007930,-0.131321,0.998565,1.083405,0.002593,-0.123391,2.081971
171,C,C,C,C,0.000188,-0.003437,0.011012,-0.042793,0.999041,1.134835,-0.003250,-0.031781,2.133875
172,C,C,C,C,0.000186,-0.002761,0.018094,0.246725,0.991324,0.973074,-0.002575,0.264819,1.964398

In [64]:
inter_index = [x for x in b_index if x in c_index]
inter_index

[5, 119]

In [65]:
total.iloc[inter_index]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob
5,C,C,C,C,0.000287,-0.001167,0.975314,0.626997,0.490775,0.540581,-0.000880,1.602311,1.031356
119,C,C,C,C,0.000229,0.000358,0.413266,0.665065,0.578031,0.414068,0.000587,1.078331,0.992099

In [69]:
total.iloc[[12]]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob
12,B,C,C,C,0.000149,0.006001,0.357163,0.510651,0.053113,0.285449,0.006151,0.867814,0.338562

In [74]:
total.iloc[:, -3:].shape

(175, 3)

In [75]:
total_index = np.argmax(total.iloc[:, -3:].values, axis=1)
total_index

array([0, 1, 2, 1, 0, 1, 2, 1, 0, 0, 2, 1, 1, 0, 1, 1, 0, 1, 1, 2, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 2, 0, 1, 2, 1, 1, 2, 0, 1, 2, 1,
       1, 1, 1, 2, 1, 2, 0, 1, 0, 1, 1, 1, 2, 0, 1, 2, 0, 1, 2, 2, 2, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 2, 1, 2, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 1,
       2, 0, 1, 1, 2, 1, 1, 2, 0, 1, 0, 2, 0, 1, 1, 2, 0, 0, 2, 1, 0, 1,
       2, 1, 1, 1, 1, 0, 0, 2, 1, 1, 0, 1, 1, 2, 2, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 2, 0, 0, 1, 0, 0, 0, 2, 1, 1, 1, 0, 1, 2, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 2, 0, 1, 2, 2, 1, 0, 0, 2, 1, 1, 0, 1, 2, 2, 1, 1])

In [46]:
# answer = np.zeros(len(X_test))
# answer[c_index] = 2
# answer[b_index] = 1
# answer

array([0., 1., 2., 1., 0., 1., 2., 1., 0., 0., 2., 1., 0., 0., 1., 1., 0.,
       1., 1., 2., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 1., 2.,
       0., 1., 2., 1., 1., 2., 0., 1., 2., 1., 1., 1., 1., 2., 1., 2., 0.,
       1., 0., 1., 1., 1., 2., 0., 1., 2., 0., 1., 2., 2., 2., 0., 1., 0.,
       0., 1., 1., 1., 0., 0., 2., 1., 2., 1., 1., 1., 2., 1., 0., 1., 1.,
       1., 1., 1., 2., 0., 1., 1., 2., 1., 1., 2., 0., 1., 0., 2., 0., 1.,
       1., 2., 0., 0., 2., 1., 0., 1., 2., 1., 1., 1., 1., 0., 0., 2., 1.,
       1., 0., 1., 1., 2., 2., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 2.,
       0., 0., 1., 0., 0., 0., 2., 1., 1., 1., 0., 1., 2., 0., 0., 1., 0.,
       1., 1., 0., 0., 1., 2., 0., 1., 2., 2., 1., 0., 0., 2., 1., 1., 0.,
       1., 2., 2., 1., 1.])

In [71]:
# submit.iloc[[12]]

          id class
12  TEST_012     A

In [76]:
submit = high1.copy()
submit['class'] = total_index
submit['class'] = submit['class'].map(lambda x : 'A' if x==0 else ('B' if x==1 else 'C'))
submit

           id class
0    TEST_000     A
1    TEST_001     B
2    TEST_002     C
3    TEST_003     B
4    TEST_004     A
..        ...   ...
170  TEST_170     B
171  TEST_171     C
172  TEST_172     C
173  TEST_173     B
174  TEST_174     B

[175 rows x 2 columns]

In [77]:
df1 = pd.read_csv("./data/submit_0.99078.csv")
df2 = pd.read_csv("./data/submit_0.99078_2.csv")
df3 = pd.read_csv("./data/submit_0.99078_3.csv")
df4 = pd.read_csv("./data/submit_0.99078_4.csv")

In [78]:
# submit 기준
display(submit[submit['class'] != df1['class']],submit[submit['class'] != df2['class']],submit[submit['class'] != df3['class']],submit[submit['class'] != df4['class']])

           id class
3    TEST_003     B
5    TEST_005     B
119  TEST_119     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
119  TEST_119     B
126  TEST_126     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
119  TEST_119     B

           id class
3    TEST_003     B
5    TEST_005     B
12   TEST_012     B
119  TEST_119     B
168  TEST_168     B

In [84]:
total['answer'] = total_index
total.iloc[[3, 5, 12, 119, 168], [0,1,2,3,-4, -3, -2, -1]]

    high1 high2 high3 high4    a_prob    b_prob    c_prob  answer
3       C     C     C     C  0.059954  1.816940  0.610793       1
5       C     C     C     C -0.000880  1.602311  1.031356       1
12      B     C     C     C  0.006151  0.867814  0.338562       1
119     C     C     C     C  0.000587  1.078331  0.992099       1
168     B     B     B     C -0.001244  1.410336  0.296742       1

In [85]:
total[(total.b_prob > 1.0) & (total.c_prob > 0.5)]

,high1,high2,high3,high4,pred1,pred2,pred3,pred4,pred5,pred6,a_prob,b_prob,c_prob,answer
3,C,C,C,C,0.000703,0.059251,0.989858,0.827082,0.257562,0.353230,0.059954,1.816940,0.610793,1
5,C,C,C,C,0.000287,-0.001167,0.975314,0.626997,0.490775,0.540581,-0.000880,1.602311,1.031356,1
35,B,B,B,B,0.000482,0.001193,0.811900,0.645094,0.223033,0.364383,0.001676,1.456993,0.587417,1
119,C,C,C,C,0.000229,0.000358,0.413266,0.665065,0.578031,0.414068,0.000587,1.078331,0.992099,1
126,B,C,B,B,0.000968,0.049571,0.669163,0.379141,0.249582,0.501944,0.050539,1.048304,0.751527,1

In [ ]:
total_index2 = np.where(a_prob > 1.0, 0, np.where(c_prob > 0.6, 2,

In [ ]:
# submit 기준
display(submit[submit['class'] != df1['class']],submit[submit['class'] != df2['class']],submit[submit['class'] != df3['class']],submit[submit['class'] != df4['class']])

In [79]:
sum(high1['class'] == submit['class'])

172

In [80]:
submit['class'].value_counts()

B    87
A    51
C    37
Name: class, dtype: int64

In [57]:
high_one['class'].value_counts()

B    84
A    51
C    40
Name: class, dtype: int64

In [81]:
submit.to_csv("submit.csv", index=False)

In [61]:
high1 = pd.read_csv("./data/submit_0.99078.csv")
high2 = pd.read_csv("./data/submit_0.99078_2.csv")
high3 = pd.read_csv("./data/submit_0.99078_3.csv")

In [62]:
display(high3[high3['class'] != high1['class']], high1[high3['class'] != high1['class']])

          id class
12  TEST_012     C

          id class
12  TEST_012     B

In [63]:
display(high3[high3['class'] != high2['class']], high2[high3['class'] != high2['class']])

           id class
126  TEST_126     B

           id class
126  TEST_126     C