In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      262 non-null    object
 1   father  262 non-null    int64
 2   mother  262 non-null    int64
 3   gender  262 non-null    int64
 4   trait   262 non-null    int64
 5   SNP_01  262 non-null    object
 6   SNP_02  262 non-null    object
 7   SNP_03  262 non-null    object
 8   SNP_04  262 non-null    object
 9   SNP_05  262 non-null    object
 10  SNP_06  262 non-null    object
 11  SNP_07  262 non-null    object
 12  SNP_08  262 non-null    object
 13  SNP_09  262 non-null    object
 14  SNP_10  262 non-null    object
 15  SNP_11  262 non-null    object
 16  SNP_12  262 non-null    object
 17  SNP_13  262 non-null    object
 18  SNP_14  262 non-null    object
 19  SNP_15  262 non-null    object
 20  class   262 non-null    object
dtypes: int64(4), object(17)
memory usage: 43.1+ KB

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      175 non-null    object
 1   father  175 non-null    int64
 2   mother  175 non-null    int64
 3   gender  175 non-null    int64
 4   trait   175 non-null    int64
 5   SNP_01  175 non-null    object
 6   SNP_02  175 non-null    object
 7   SNP_03  175 non-null    object
 8   SNP_04  175 non-null    object
 9   SNP_05  175 non-null    object
 10  SNP_06  175 non-null    object
 11  SNP_07  175 non-null    object
 12  SNP_08  175 non-null    object
 13  SNP_09  175 non-null    object
 14  SNP_10  175 non-null    object
 15  SNP_11  175 non-null    object
 16  SNP_12  175 non-null    object
 17  SNP_13  175 non-null    object
 18  SNP_14  175 non-null    object
 19  SNP_15  175 non-null    object
dtypes: int64(4), object(16)
memory usage: 27.5+ KB

In [4]:
train

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,0,0,0,2,A G,A G,A A,G A,C C,...,A A,G A,A A,G G,A G,G A,A A,A A,A A,B
258,TRAIN_258,0,0,0,2,G G,A A,C A,A A,A A,...,G A,G A,A A,A G,A G,A A,A G,A A,G A,C
259,TRAIN_259,0,0,0,1,A G,G G,A A,G A,A A,...,G G,G A,G A,A A,G G,G G,G G,C A,G G,A
260,TRAIN_260,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G A,A G,A G,G A,G G,C A,G G,A
261,TRAIN_261,0,0,0,2,G G,A G,C A,G G,C C,...,A A,A A,A A,G G,A A,A A,G G,A A,G A,B

In [5]:
df = pd.concat([train, test], ignore_index=True)
df

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,0,0,0,2,A G,G G,C C,A A,C A,...,A A,G G,A A,G G,G G,A A,A A,A A,G A,NaN
433,TEST_171,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,A G,A A,A A,A G,A A,G A,NaN
434,TEST_172,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,G G,A G,A A,A G,A A,G G,NaN
435,TEST_173,0,0,0,2,A G,G G,C A,G A,C C,...,A A,G A,A A,G G,A G,A A,A A,A A,A A,NaN
436,TEST_174,0,0,0,2,G G,G G,C C,G A,C A,...,G A,G G,A A,G G,G G,A A,A A,A A,A A,NaN

In [6]:
df2 = pd.get_dummies(df.iloc[:, 4:-1])
df2

,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,SNP_03_C C,...,SNP_12_G G,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G
0,2,0,0,1,0,1,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
1,2,0,1,0,0,1,0,0,1,0,...,0,0,0,1,1,0,0,1,0,0
2,2,0,0,1,0,0,1,1,0,0,...,0,1,0,0,1,0,0,1,0,0
3,1,1,0,0,0,0,1,1,0,0,...,1,0,0,1,1,0,0,0,0,1
4,2,0,0,1,0,0,1,0,0,1,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2,0,1,0,0,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
433,2,0,0,1,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
434,2,0,0,1,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
435,2,0,1,0,0,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
436,2,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0

In [7]:
df2.describe()

,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,SNP_03_C C,...,SNP_12_G G,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G
count,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,...,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000
mean,1.725400,0.203661,0.281465,0.514874,0.215103,0.352403,0.432494,0.466819,0.366133,0.167048,...,0.199085,0.212815,0.350114,0.437071,0.697941,0.199085,0.102975,0.400458,0.384439,0.215103
std,0.446824,0.403182,0.450229,0.500352,0.411365,0.478266,0.495990,0.499470,0.482299,0.373446,...,0.399770,0.409767,0.477552,0.496593,0.459677,0.399770,0.304274,0.490553,0.487020,0.411365
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
train2 = pd.concat([train[['id']], df2.iloc[:262, :], train[['class']]], axis=1)
train2

,id,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,...,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G,class
0,TRAIN_000,2,0,0,1,0,1,0,1,0,...,1,0,0,1,0,0,1,0,0,B
1,TRAIN_001,2,0,1,0,0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,C
2,TRAIN_002,2,0,0,1,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,B
3,TRAIN_003,1,1,0,0,0,0,1,1,0,...,0,0,1,1,0,0,0,0,1,A
4,TRAIN_004,2,0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,0,1,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,2,0,1,0,0,1,0,1,0,...,1,0,0,1,0,0,1,0,0,B
258,TRAIN_258,2,0,0,1,1,0,0,0,1,...,0,1,0,1,0,0,0,1,0,C
259,TRAIN_259,1,0,1,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,A
260,TRAIN_260,1,1,0,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,A
261,TRAIN_261,2,0,0,1,0,1,0,0,1,...,0,0,1,1,0,0,0,1,0,B

In [9]:
train2['class'].value_counts()

B    114
C     79
A     69
Name: class, dtype: int64

In [10]:
train2['class'] = train2['class'].map(lambda x : 0 if x=='A' else (1 if x=='B' else 2))
train2

,id,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,...,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G,class
0,TRAIN_000,2,0,0,1,0,1,0,1,0,...,1,0,0,1,0,0,1,0,0,1
1,TRAIN_001,2,0,1,0,0,1,0,0,1,...,0,0,1,1,0,0,1,0,0,2
2,TRAIN_002,2,0,0,1,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,1
3,TRAIN_003,1,1,0,0,0,0,1,1,0,...,0,0,1,1,0,0,0,0,1,0
4,TRAIN_004,2,0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,2,0,1,0,0,1,0,1,0,...,1,0,0,1,0,0,1,0,0,1
258,TRAIN_258,2,0,0,1,1,0,0,0,1,...,0,1,0,1,0,0,0,1,0,2
259,TRAIN_259,1,0,1,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
260,TRAIN_260,1,1,0,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
261,TRAIN_261,2,0,0,1,0,1,0,0,1,...,0,0,1,1,0,0,0,1,0,1

In [11]:
test.iloc[:, 0]

0      TEST_000
1      TEST_001
2      TEST_002
3      TEST_003
4      TEST_004
         ...
170    TEST_170
171    TEST_171
172    TEST_172
173    TEST_173
174    TEST_174
Name: id, Length: 175, dtype: object

In [12]:
df2.iloc[262:, :]

,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,SNP_03_C C,...,SNP_12_G G,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G
262,1,0,1,0,0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,1,0
263,2,0,0,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
264,2,0,0,1,0,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,1
265,2,0,0,1,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,0
266,1,1,0,0,0,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2,0,1,0,0,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
433,2,0,0,1,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
434,2,0,0,1,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
435,2,0,1,0,0,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
436,2,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0

In [13]:
df2.iloc[262:, :].reset_index(drop=True)

,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,SNP_03_C C,...,SNP_12_G G,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G
0,1,0,1,0,0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,1,0
1,2,0,0,1,0,1,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
2,2,0,0,1,0,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,1
3,2,0,0,1,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,0
4,1,1,0,0,0,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2,0,1,0,0,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
171,2,0,0,1,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
172,2,0,0,1,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
173,2,0,1,0,0,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
174,2,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0

In [14]:
test2 = pd.concat([test.iloc[:, 0], df2.iloc[262:, :].reset_index(drop=True)], axis=1)
test2

,id,trait,SNP_01_A A,SNP_01_A G,SNP_01_G G,SNP_02_A A,SNP_02_A G,SNP_02_G G,SNP_03_A A,SNP_03_C A,...,SNP_12_G G,SNP_13_A A,SNP_13_A G,SNP_13_G G,SNP_14_A A,SNP_14_C A,SNP_14_C C,SNP_15_A A,SNP_15_G A,SNP_15_G G
0,TEST_000,1,0,1,0,0,0,1,1,0,...,0,0,0,1,0,1,0,0,1,0
1,TEST_001,2,0,0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,TEST_002,2,0,0,1,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,1
3,TEST_003,2,0,0,1,0,1,0,0,1,...,0,0,1,0,1,0,0,1,0,0
4,TEST_004,1,1,0,0,0,0,1,1,0,...,0,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,TEST_170,2,0,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
171,TEST_171,2,0,0,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
172,TEST_172,2,0,0,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
173,TEST_173,2,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
174,TEST_174,2,0,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0

In [15]:
train2.to_csv("./data/df_train.csv", index=False)
test2.to_csv("./data/df_test.csv", index=False)

In [16]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold

from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE

In [ ]:
from xgboost import XGBClassifier, XGBRegressor
from imblearn.over_sampling import SMOTE

xgb_params = {
    'booster': 'gbtree',
    'grow_policy': 'depthwise',
    'max_depth': 4,
    'learning_rate': 0.4,
    'n_estimators': 30,
    'reg_lambda': 100,
    'subsample': 0.9,
    'num_parallel_tree': 1,
    # 'rate_drop': 0.3
}

In [18]:
train = pd.read_csv("./data/df_train.csv")
test = pd.read_csv("./data/df_test.csv")
train.shape, test.shape

((262, 48), (175, 47))

In [19]:
def calc_f1_score(y_hat, data):
    y_true = data.get_label()
    y_hat = np.argmax(y_hat, axis=1)
    return 'f1', f1_score(y_true, y_hat, average="macro")

In [ ]:
random_seed = 5833

y = train['class'].values
X = train.drop(['id', 'class'], axis=1).to_numpy()
X_test = test.drop(['id'], axis=1).to_numpy()

skf = StratifiedKFold(n_splits=2, shuffle=True, random_state=random_seed)

oof_val_preds = np.zeros((X.shape[0], 3))
oof_test_preds = np.zeros((X_test.shape[0], 3))

# OOF
for fold, (train_idx, valid_idx) in enumerate(skf.split(X, y)):

    print('#'*30, f'Fold [{fold+1}/{skf.n_splits}]', '#'*30)

    # train, valid data 설정
    X_train, y_train = X[train_idx], y[train_idx]
    X_valid, y_valid = X[valid_idx], y[valid_idx]
    
    smote = SMOTE(random_state=random_seed)
    X_train, y_train = smote.fit_resample(X_train, y_train)

    # 불균형 데이터 가중치 조정 값 => 음성(0) 타깃값 개수 / 양성(1) 타깃값 개수
    _, counts = np.unique(np.array(y_train), return_counts=True)
    scale_weight = counts[0] / counts[1]

    # XGBoost 모델 훈련
    xgb_model = XGBClassifier(
        **xgb_params,
        tree_method='gpu_hist',
        predictor='gpu_predictor',
        random_state=random_seed,
        n_jobs=-1
    )
    xgb_model.fit(X_train, y_train, eval_set=[(X_valid, y_valid)], eval_metric=calc_f1_score, verbose=True)

    oof_test_preds += xgb_model.predict_proba(X_test) / skf.n_splits
    oof_val_preds[valid_idx] += xgb_model.predict_proba(X_valid)
    
    if fold == 1 :
        pred = xgb_model.predict(X_test)
        break
    
    #model save
    # xgb_model.save_model(f'./models/new_xgb_{skf.n_splits}_{fold}.json')
    del [[X_train, y_train, X_valid, y_valid, xgb_model]]
    gc.collect()

#     model score check
preds = np.argmax(oof_val_preds, axis=1)
print(f1_score(y, preds, average="macro"))

# # save OOF test preds
# np.save(f'./results/new_{skf.n_splits}_oof_test_preds.npy', oof_test_preds[:, 1])

In [ ]:
# submit_pred = np.argmax(oof_test_preds, axis=1)
# submit_file = pd.read_csv("./data/sample_submission.csv")
# submit_file['class'] = submit_pred
# submit_file['class'] = submit_file['class'].map(lambda x : "A" if x==0 else ( "B" if x==1 else "C"))
# submit_file.to_csv("submit.csv", index=False)
# submit_file