In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      262 non-null    object
 1   father  262 non-null    int64
 2   mother  262 non-null    int64
 3   gender  262 non-null    int64
 4   trait   262 non-null    int64
 5   SNP_01  262 non-null    object
 6   SNP_02  262 non-null    object
 7   SNP_03  262 non-null    object
 8   SNP_04  262 non-null    object
 9   SNP_05  262 non-null    object
 10  SNP_06  262 non-null    object
 11  SNP_07  262 non-null    object
 12  SNP_08  262 non-null    object
 13  SNP_09  262 non-null    object
 14  SNP_10  262 non-null    object
 15  SNP_11  262 non-null    object
 16  SNP_12  262 non-null    object
 17  SNP_13  262 non-null    object
 18  SNP_14  262 non-null    object
 19  SNP_15  262 non-null    object
 20  class   262 non-null    object
dtypes: int64(4), object(17)
memory usage: 43.1+ KB

In [3]:
df = pd.concat([train, test], ignore_index=True)
df

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,0,0,0,2,A G,G G,C C,A A,C A,...,A A,G G,A A,G G,G G,A A,A A,A A,G A,NaN
433,TEST_171,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,A G,A A,A A,A G,A A,G A,NaN
434,TEST_172,0,0,0,2,G G,A A,A A,A A,C A,...,A A,A A,A A,G G,A G,A A,A G,A A,G G,NaN
435,TEST_173,0,0,0,2,A G,G G,C A,G A,C C,...,A A,G A,A A,G G,A G,A A,A A,A A,A A,NaN
436,TEST_174,0,0,0,2,G G,G G,C C,G A,C A,...,G A,G G,A A,G G,G G,A A,A A,A A,A A,NaN

In [4]:
df['trait'] = df['trait']-1
df.drop(columns=['father', 'mother', 'gender'], inplace=True)
df

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,1,G G,A G,A A,G A,C A,A A,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,1,A G,A G,C A,A A,A A,A G,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,1,G G,G G,A A,G A,C C,G G,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,A A,G G,A A,G A,A A,G G,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,1,G G,G G,C C,A A,C C,A A,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,A G,G G,C C,A A,C A,A G,A A,G G,A A,G G,G G,A A,A A,A A,G A,NaN
433,TEST_171,1,G G,A A,A A,A A,C A,A G,A A,A A,A A,A G,A A,A A,A G,A A,G A,NaN
434,TEST_172,1,G G,A A,A A,A A,C A,A G,A A,A A,A A,G G,A G,A A,A G,A A,G G,NaN
435,TEST_173,1,A G,G G,C A,G A,C C,G G,A A,G A,A A,G G,A G,A A,A A,A A,A A,NaN
436,TEST_174,1,G G,G G,C C,G A,C A,A A,G A,G G,A A,G G,G G,A A,A A,A A,A A,NaN

In [5]:
for i in tqdm(range(1, 15+1)) :
    target = str(i) if i >= 10 else "0"+str(i)
    cols = sorted(df[f"SNP_{target}"].unique().tolist())
    df[f"SNP_{target}"] = df[f"SNP_{target}"].map(lambda x : 0 if x==cols[0] else (1 if x==cols[1] else 2))
df

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 15/15 [00:00<00:00, 2539.85it/s]

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,1,2,1,0,1,1,0,0,2,0,2,1,0,0,0,0,B
1,TRAIN_001,1,1,1,1,0,0,1,0,1,0,1,0,1,2,0,0,C
2,TRAIN_002,1,2,2,0,1,2,2,0,1,1,1,0,0,0,0,0,B
3,TRAIN_003,0,0,2,0,1,0,2,2,0,2,1,2,2,2,0,2,A
4,TRAIN_004,1,2,2,2,0,2,0,0,0,0,2,0,0,1,0,1,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,0,2,2,0,0,0,1,NaN
433,TEST_171,1,2,0,0,0,1,1,0,0,0,1,0,0,1,0,1,NaN
434,TEST_172,1,2,0,0,0,1,1,0,0,0,2,1,0,1,0,2,NaN
435,TEST_173,1,1,2,1,1,2,2,0,1,0,2,1,0,0,0,0,NaN
436,TEST_174,1,2,2,2,1,1,0,1,2,0,2,2,0,0,0,0,NaN

In [6]:
df['class_B'] = df['class'].map(lambda x : 1 if x=='B' else 0)
df['class_C'] = df['class'].map(lambda x : 1 if x=='C' else 0)
df['class'] = df['class'].map(lambda x : 0 if x == 'A' else (1 if x=='B' else 2))

for i in range(1, 15+1) :
    target = str(i) if i >= 10 else "0"+str(i)
    target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
    
    for j in range(3) :
        value = target2['class_B'] / (target2['class_B']+target2['class_C'])
        df[f"SNP_{target}_ratio"] = df[f"SNP_{target}"].map(lambda x : value[0] if x==0 else (value[1] if x==1 else value[2])).fillna(0)    

df

/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()
/tmp/ipykernel_3287138/2978553761.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target2 = df.groupby(f'SNP_{target}')['class_B', 'class_C'].sum()

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,...,SNP_06_ratio,SNP_07_ratio,SNP_08_ratio,SNP_09_ratio,SNP_10_ratio,SNP_11_ratio,SNP_12_ratio,SNP_13_ratio,SNP_14_ratio,SNP_15_ratio
0,TRAIN_000,1,2,1,0,1,1,0,0,2,...,0.540984,0.644172,0.822785,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320
1,TRAIN_001,1,1,1,1,0,0,1,0,1,...,0.598039,0.644172,0.482353,0.538462,0.117647,0.421687,0.603774,0.367347,0.655172,0.689320
2,TRAIN_002,1,2,2,0,1,2,2,0,1,...,0.666667,0.644172,0.482353,0.956522,0.117647,0.421687,0.577778,0.826923,0.655172,0.689320
3,TRAIN_003,0,0,2,0,1,0,2,2,0,...,0.666667,0.000000,0.275862,1.000000,0.117647,0.888889,0.800000,0.367347,0.655172,0.272727
4,TRAIN_004,1,2,2,2,0,2,0,0,0,...,0.540984,0.644172,0.275862,0.538462,0.743243,0.421687,0.577778,0.576087,0.655172,0.506329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,...,0.598039,0.644172,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.506329
433,TEST_171,1,2,0,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.117647,0.421687,0.577778,0.576087,0.655172,0.506329
434,TEST_172,1,2,0,0,0,1,1,0,0,...,0.598039,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.576087,0.655172,0.272727
435,TEST_173,1,1,2,1,1,2,2,0,1,...,0.666667,0.644172,0.482353,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320
436,TEST_174,1,2,2,2,1,1,0,1,2,...,0.540984,0.300000,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.689320

In [7]:
target = df.groupby('trait')['class_B', 'class_C'].sum()
target2 = (target['class_B'] / (target['class_B']+target['class_C'])).fillna(0)
df['trait_ratio'] = df[f"trait"].map(lambda x : target2[0] if x==0 else target2[1])
df

/tmp/ipykernel_3287138/396865256.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  target = df.groupby('trait')['class_B', 'class_C'].sum()

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,...,SNP_07_ratio,SNP_08_ratio,SNP_09_ratio,SNP_10_ratio,SNP_11_ratio,SNP_12_ratio,SNP_13_ratio,SNP_14_ratio,SNP_15_ratio,trait_ratio
0,TRAIN_000,1,2,1,0,1,1,0,0,2,...,0.644172,0.822785,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320,0.590674
1,TRAIN_001,1,1,1,1,0,0,1,0,1,...,0.644172,0.482353,0.538462,0.117647,0.421687,0.603774,0.367347,0.655172,0.689320,0.590674
2,TRAIN_002,1,2,2,0,1,2,2,0,1,...,0.644172,0.482353,0.956522,0.117647,0.421687,0.577778,0.826923,0.655172,0.689320,0.590674
3,TRAIN_003,0,0,2,0,1,0,2,2,0,...,0.000000,0.275862,1.000000,0.117647,0.888889,0.800000,0.367347,0.655172,0.272727,0.000000
4,TRAIN_004,1,2,2,2,0,2,0,0,0,...,0.644172,0.275862,0.538462,0.743243,0.421687,0.577778,0.576087,0.655172,0.506329,0.590674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,...,0.644172,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.506329,0.590674
433,TEST_171,1,2,0,0,0,1,1,0,0,...,0.644172,0.275862,0.538462,0.117647,0.421687,0.577778,0.576087,0.655172,0.506329,0.590674
434,TEST_172,1,2,0,0,0,1,1,0,0,...,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.576087,0.655172,0.272727,0.590674
435,TEST_173,1,1,2,1,1,2,2,0,1,...,0.644172,0.482353,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320,0.590674
436,TEST_174,1,2,2,2,1,1,0,1,2,...,0.300000,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.689320,0.590674

In [8]:
train2 = df[df['id'].str.contains('TRAIN')].copy().drop(columns=['class_B', 'class_C'])
train2['class'].value_counts()

1    114
2     79
0     69
Name: class, dtype: int64

In [9]:
test2 = df[df['id'].str.contains('TEST')].copy().drop(columns=['class_B', 'class_C'])
test2

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,...,SNP_07_ratio,SNP_08_ratio,SNP_09_ratio,SNP_10_ratio,SNP_11_ratio,SNP_12_ratio,SNP_13_ratio,SNP_14_ratio,SNP_15_ratio,trait_ratio
262,TEST_000,0,1,2,0,1,0,1,2,1,...,0.000000,0.482353,0.956522,0.117647,0.662651,0.603774,0.367347,0.000000,0.506329,0.000000
263,TEST_001,1,2,1,2,2,2,0,0,0,...,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320,0.590674
264,TEST_002,1,2,1,0,0,1,1,0,0,...,0.644172,0.275862,0.538462,0.117647,0.421687,0.603774,0.367347,0.655172,0.272727,0.590674
265,TEST_003,1,2,1,1,0,2,0,0,0,...,0.644172,0.275862,0.538462,0.743243,0.421687,0.603774,0.576087,0.655172,0.689320,0.590674
266,TEST_004,0,0,2,0,2,0,2,2,0,...,0.000000,0.275862,1.000000,0.117647,0.888889,0.603774,0.367347,0.655172,0.272727,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,TEST_170,1,1,2,2,0,1,1,0,2,...,0.644172,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.506329,0.590674
433,TEST_171,1,2,0,0,0,1,1,0,0,...,0.644172,0.275862,0.538462,0.117647,0.421687,0.577778,0.576087,0.655172,0.506329,0.590674
434,TEST_172,1,2,0,0,0,1,1,0,0,...,0.644172,0.275862,0.538462,0.743243,0.662651,0.577778,0.576087,0.655172,0.272727,0.590674
435,TEST_173,1,1,2,1,1,2,2,0,1,...,0.644172,0.482353,0.538462,0.743243,0.662651,0.577778,0.826923,0.655172,0.689320,0.590674
436,TEST_174,1,2,2,2,1,1,0,1,2,...,0.300000,0.822785,0.538462,0.743243,0.888889,0.577778,0.826923,0.655172,0.689320,0.590674

In [10]:
train2.columns.tolist()

['id',
 'trait',
 'SNP_01',
 'SNP_02',
 'SNP_03',
 'SNP_04',
 'SNP_05',
 'SNP_06',
 'SNP_07',
 'SNP_08',
 'SNP_09',
 'SNP_10',
 'SNP_11',
 'SNP_12',
 'SNP_13',
 'SNP_14',
 'SNP_15',
 'class',
 'SNP_01_ratio',
 'SNP_02_ratio',
 'SNP_03_ratio',
 'SNP_04_ratio',
 'SNP_05_ratio',
 'SNP_06_ratio',
 'SNP_07_ratio',
 'SNP_08_ratio',
 'SNP_09_ratio',
 'SNP_10_ratio',
 'SNP_11_ratio',
 'SNP_12_ratio',
 'SNP_13_ratio',
 'SNP_14_ratio',
 'SNP_15_ratio',
 'trait_ratio']

In [11]:
train2.to_csv("./data/df_train00.csv", index=False)
test2.to_csv("./data/df_test00.csv", index=False)

# STEP 02. Modeling 01
- A & not A 구분

In [12]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold

from xgboost import XGBClassifier, XGBRegressor
from imblearn.over_sampling import SMOTE, SMOTENC

In [13]:
xgb_params = {
    'booster': 'gbtree',
    'grow_policy': 'lossguide',
    'max_depth': 0,
    'learning_rate': 0.4,
    # 'n_estimators': 25,
    'reg_lambda': 100,
    'reg_alpha' : 10,
    'subsample': 0.9,
    'num_parallel_tree': 1,
    # 'colsample_bytree' : 0.9,
    'colsample_bynode' : 0.9
    # 'rate_drop': 0.3
}

In [14]:
train = pd.read_csv("./data/df_train00.csv")
test = pd.read_csv("./data/df_test00.csv")
train.shape, test.shape

((262, 34), (175, 34))

In [15]:
def calc_f1_score(y_hat, data):
    y_true = data.get_label()
    y_hat = np.round(y_hat)
    return 'f1', f1_score(y_true, y_hat, average="macro")

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [17]:
random_seed = 6327

y = (train['class'].values > 0).astype(int)
X = train.drop(['id', 'class'], axis=1)
X.iloc[:,:15] = X.iloc[:,:16].astype('category')
X_test = test.drop(['id', 'class'], axis=1)
X_test.iloc[:,:15] = X_test.iloc[:,:16].astype('category')

skf = StratifiedKFold(n_splits=2, shuffle=True, random_state=random_seed)

oof_val_preds1 = np.zeros((X.shape[0], 2))
oof_val_preds2 = np.zeros((X.shape[0], 2))
oof_val_preds3 = np.zeros((X.shape[0], 2))
oof_test_preds1 = np.zeros((X_test.shape[0], 2))
oof_test_preds2 = np.zeros((X_test.shape[0], 2))
oof_test_preds3 = np.zeros((X_test.shape[0], 2))

# OOF
for fold, (train_idx, valid_idx) in enumerate(skf.split(X, y)):

    # print('#'*30, f'Fold [{fold+1}/{skf.n_splits}]', '#'*30)

    # train, valid data 설정
    X_train, y_train = X.iloc[train_idx], y[train_idx]
    X_valid, y_valid = X.iloc[valid_idx], y[valid_idx]
    
    smote = SMOTENC(categorical_features=[x for x in range(16)], random_state=random_seed)
    X_train, y_train = smote.fit_resample(X_train, y_train)

    # 불균형 데이터 가중치 조정 값 => 음성(0) 타깃값 개수 / 양성(1) 타깃값 개수
    _, counts = np.unique(np.array(y_train), return_counts=True)
    scale_weight = counts[0] / counts[1]

    # XGBoost 모델 훈련
    xgb_model = XGBClassifier(
        **xgb_params,
        tree_method='gpu_hist',
        predictor='gpu_predictor',
        random_state=random_seed,
        n_jobs=-1,
        enable_categorical=True
    )
    
    rf = RandomForestClassifier()
    lr = LogisticRegression(C=100)
    
    xgb_model.fit(X_train, y_train, eval_set=[(X_valid, y_valid)], eval_metric=calc_f1_score, verbose=False)
    rf.fit(X_train, y_train)
    lr.fit(X_train, y_train)

    oof_test_preds1 += xgb_model.predict_proba(X_test) / skf.n_splits
    oof_test_preds2 += rf.predict_proba(X_test) / skf.n_splits
    oof_test_preds3 += lr.predict_proba(X_test) / skf.n_splits
    oof_val_preds1[valid_idx] += xgb_model.predict_proba(X_valid)
    oof_val_preds2[valid_idx] += rf.predict_proba(X_valid)
    oof_val_preds3[valid_idx] += lr.predict_proba(X_valid)
    
    if fold == 1 :
        pred = xgb_model.predict(X_test)
        break
    
    #model save
    # xgb_model.save_model(f'./models/new_xgb_{skf.n_splits}_{fold}.json')
    del [[X_train, y_train, X_valid, y_valid, xgb_model]]
    gc.collect()

#     model score check
preds = np.argmax(oof_val_preds1, axis=1)
preds2 = np.argmax(oof_val_preds2, axis=1)
preds3 = np.argmax(oof_val_preds3, axis=1)
print(f1_score(y, preds, average="macro"))
print(f1_score(y, preds2, average="macro"))
print(f1_score(y, preds3, average="macro"))

# # save OOF test preds
# np.save(f'./results/new_{skf.n_splits}_oof_test_preds.npy', oof_test_preds[:, 1])

1.0
1.0
1.0

## Not A에 대한 확률예측값을 새로운 변수로 추가

In [18]:
train['preds_xgb'] = pd.Series(oof_val_preds1[:, 0])
train['preds_rf'] = pd.Series(oof_val_preds2[:, 0])
train['preds_lr'] = pd.Series(oof_val_preds3[:, 0])
test['preds_xgb'] = pd.Series(oof_test_preds1[:,0])
test['preds_rf'] = pd.Series(oof_test_preds2[:,0])
test['preds_lr'] = pd.Series(oof_test_preds3[:,0])

train[(train['preds_xgb'] >= 0.5) | (train['preds_rf'] >= 0.5) | (train['preds_lr'] >= 0.5)][train['class']==1]

Empty DataFrame
Columns: [id, trait, SNP_01, SNP_02, SNP_03, SNP_04, SNP_05, SNP_06, SNP_07, SNP_08, SNP_09, SNP_10, SNP_11, SNP_12, SNP_13, SNP_14, SNP_15, class, SNP_01_ratio, SNP_02_ratio, SNP_03_ratio, SNP_04_ratio, SNP_05_ratio, SNP_06_ratio, SNP_07_ratio, SNP_08_ratio, SNP_09_ratio, SNP_10_ratio, SNP_11_ratio, SNP_12_ratio, SNP_13_ratio, SNP_14_ratio, SNP_15_ratio, trait_ratio, preds_xgb, preds_rf, preds_lr]
Index: []

[0 rows x 37 columns]

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            262 non-null    object
 1   trait         262 non-null    int64
 2   SNP_01        262 non-null    int64
 3   SNP_02        262 non-null    int64
 4   SNP_03        262 non-null    int64
 5   SNP_04        262 non-null    int64
 6   SNP_05        262 non-null    int64
 7   SNP_06        262 non-null    int64
 8   SNP_07        262 non-null    int64
 9   SNP_08        262 non-null    int64
 10  SNP_09        262 non-null    int64
 11  SNP_10        262 non-null    int64
 12  SNP_11        262 non-null    int64
 13  SNP_12        262 non-null    int64
 14  SNP_13        262 non-null    int64
 15  SNP_14        262 non-null    int64
 16  SNP_15        262 non-null    int64
 17  class         262 non-null    int64
 18  SNP_01_ratio  262 non-null    float64
 19  SNP_02_ratio  262 non-null    float64
 20  SNP_03_ratio  262 non-null    float64
 21  SNP_04_ratio  262 non-null    float64
 22  SNP_05_ratio  262 non-null    float64
 23  SNP_06_ratio  262 non-null    float64
 24  SNP_07_ratio  262 non-null    float64
 25  SNP_08_ratio  262 non-null    float64
 26  SNP_09_ratio  262 non-null    float64
 27  SNP_10_ratio  262 non-null    float64
 28  SNP_11_ratio  262 non-null    float64
 29  SNP_12_ratio  262 non-null    float64
 30  SNP_13_ratio  262 non-null    float64
 31  SNP_14_ratio  262 non-null    float64
 32  SNP_15_ratio  262 non-null    float64
 33  trait_ratio   262 non-null    float64
 34  preds_xgb     262 non-null    float64
 35  preds_rf      262 non-null    float64
 36  preds_lr      262 non-null    float64
dtypes: float64(19), int64(17), object(1)
memory usage: 75.9+ KB

# STEP 03. MODELING 02
- B와 C를 구분

In [20]:
import warnings
warnings.filterwarnings(action='ignore')

import os
import gc
import math
import random
import pickle
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import StandardScaler

from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE, SMOTENC
import torch

In [21]:
ae = pd.read_csv("./data/ae_values.csv")
target_idx = train[train['class'] != 0].index.tolist()
train2 = train.iloc[target_idx].copy().reset_index(drop=True)
train2['class'] = train2['class'] -1

train2 = pd.concat([train2, ae[:len(train2)]], axis=1)
test2 = pd.concat([test, ae[len(train2):].reset_index(drop=True)], axis=1)
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 45 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            193 non-null    object
 1   trait         193 non-null    int64
 2   SNP_01        193 non-null    int64
 3   SNP_02        193 non-null    int64
 4   SNP_03        193 non-null    int64
 5   SNP_04        193 non-null    int64
 6   SNP_05        193 non-null    int64
 7   SNP_06        193 non-null    int64
 8   SNP_07        193 non-null    int64
 9   SNP_08        193 non-null    int64
 10  SNP_09        193 non-null    int64
 11  SNP_10        193 non-null    int64
 12  SNP_11        193 non-null    int64
 13  SNP_12        193 non-null    int64
 14  SNP_13        193 non-null    int64
 15  SNP_14        193 non-null    int64
 16  SNP_15        193 non-null    int64
 17  class         193 non-null    int64
 18  SNP_01_ratio  193 non-null    float64
 19  SNP_02_ratio  193 non-null    float64
 20  SNP_03_ratio  193 non-null    float64
 21  SNP_04_ratio  193 non-null    float64
 22  SNP_05_ratio  193 non-null    float64
 23  SNP_06_ratio  193 non-null    float64
 24  SNP_07_ratio  193 non-null    float64
 25  SNP_08_ratio  193 non-null    float64
 26  SNP_09_ratio  193 non-null    float64
 27  SNP_10_ratio  193 non-null    float64
 28  SNP_11_ratio  193 non-null    float64
 29  SNP_12_ratio  193 non-null    float64
 30  SNP_13_ratio  193 non-null    float64
 31  SNP_14_ratio  193 non-null    float64
 32  SNP_15_ratio  193 non-null    float64
 33  trait_ratio   193 non-null    float64
 34  preds_xgb     193 non-null    float64
 35  preds_rf      193 non-null    float64
 36  preds_lr      193 non-null    float64
 37  encodings_0   193 non-null    float64
 38  encodings_1   193 non-null    float64
 39  encodings_2   193 non-null    float64
 40  encodings_3   193 non-null    float64
 41  encodings_4   193 non-null    float64
 42  encodings_5   193 non-null    float64
 43  encodings_6   193 non-null    float64
 44  errors        193 non-null    float64
dtypes: float64(27), int64(17), object(1)
memory usage: 68.0+ KB

In [22]:
train2.describe()

,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,...,preds_rf,preds_lr,encodings_0,encodings_1,encodings_2,encodings_3,encodings_4,encodings_5,encodings_6,errors
count,193.0,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,...,193.000000,1.930000e+02,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,1.0,1.689119,0.937824,0.974093,0.455959,1.222798,0.839378,0.155440,1.259067,0.129534,...,0.011813,2.425610e-04,0.010963,0.007506,-0.023675,-0.000565,0.001978,0.061149,0.017832,0.050265
std,0.0,0.517139,0.726198,0.724822,0.620298,0.761781,0.669346,0.363266,0.703587,0.351793,...,0.019982,8.703335e-04,0.112727,0.100998,0.075488,0.061622,0.083507,0.145762,0.100526,0.026732
min,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7.243451e-08,-0.168171,-0.165807,-0.169953,-0.164174,-0.167470,-0.156615,-0.155599,0.010364
25%,1.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,3.732650e-06,-0.068273,-0.047605,-0.063974,-0.045138,-0.047571,-0.027465,-0.055569,0.030505
50%,1.0,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,1.790869e-05,-0.006267,-0.004486,-0.013531,-0.000894,-0.013626,0.027874,0.004528,0.043728
75%,1.0,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,2.000000,0.000000,...,0.020000,9.783973e-05,0.070377,0.049656,0.028561,0.031561,0.042786,0.093614,0.070973,0.062588
max,1.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,...,0.100000,9.329676e-03,0.428423,0.672965,0.150395,0.140113,0.288742,0.572769,0.491692,0.138421

In [23]:
def calc_f1_score(y_hat, data):
    y_true = data.get_label()
    y_hat = np.round(y_hat)
    return 'f1', f1_score(y_true, y_hat, average="macro")

In [24]:
xgb_params = {
    'booster': 'gbtree',
    'grow_policy': 'lossguide',
    'max_depth': 0,
    'learning_rate': 0.4,
    # 'n_estimators': 25,
    'reg_lambda': 100,
    'reg_alpha' : 10,
    'subsample': 0.9,
    'num_parallel_tree': 1,
    # 'colsample_bytree' : 0.9,
    'colsample_bynode' : 0.9
    # 'rate_drop': 0.3
}

In [25]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 45 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            193 non-null    object
 1   trait         193 non-null    int64
 2   SNP_01        193 non-null    int64
 3   SNP_02        193 non-null    int64
 4   SNP_03        193 non-null    int64
 5   SNP_04        193 non-null    int64
 6   SNP_05        193 non-null    int64
 7   SNP_06        193 non-null    int64
 8   SNP_07        193 non-null    int64
 9   SNP_08        193 non-null    int64
 10  SNP_09        193 non-null    int64
 11  SNP_10        193 non-null    int64
 12  SNP_11        193 non-null    int64
 13  SNP_12        193 non-null    int64
 14  SNP_13        193 non-null    int64
 15  SNP_14        193 non-null    int64
 16  SNP_15        193 non-null    int64
 17  class         193 non-null    int64
 18  SNP_01_ratio  193 non-null    float64
 19  SNP_02_ratio  193 non-null    float64
 20  SNP_03_ratio  193 non-null    float64
 21  SNP_04_ratio  193 non-null    float64
 22  SNP_05_ratio  193 non-null    float64
 23  SNP_06_ratio  193 non-null    float64
 24  SNP_07_ratio  193 non-null    float64
 25  SNP_08_ratio  193 non-null    float64
 26  SNP_09_ratio  193 non-null    float64
 27  SNP_10_ratio  193 non-null    float64
 28  SNP_11_ratio  193 non-null    float64
 29  SNP_12_ratio  193 non-null    float64
 30  SNP_13_ratio  193 non-null    float64
 31  SNP_14_ratio  193 non-null    float64
 32  SNP_15_ratio  193 non-null    float64
 33  trait_ratio   193 non-null    float64
 34  preds_xgb     193 non-null    float64
 35  preds_rf      193 non-null    float64
 36  preds_lr      193 non-null    float64
 37  encodings_0   193 non-null    float64
 38  encodings_1   193 non-null    float64
 39  encodings_2   193 non-null    float64
 40  encodings_3   193 non-null    float64
 41  encodings_4   193 non-null    float64
 42  encodings_5   193 non-null    float64
 43  encodings_6   193 non-null    float64
 44  errors        193 non-null    float64
dtypes: float64(27), int64(17), object(1)
memory usage: 68.0+ KB

In [26]:
train2['class'].value_counts()

0    114
1     79
Name: class, dtype: int64

In [27]:
random_seed = 33070

y = torch.LongTensor(train2['class'].values)
X = train2.drop(['id', 'class', 'trait', 'preds_xgb', 'preds_rf', 'preds_lr'], axis=1).to_numpy()
X_test = test2.drop(['id', 'class', 'trait', 'preds_xgb', 'preds_rf', 'preds_lr'], axis=1).to_numpy()

skf = StratifiedKFold(n_splits=3, shuffle=True, random_state=random_seed)

oof_val_preds = np.zeros((X.shape[0], 2))
oof_val_preds2 = np.zeros((X.shape[0], 2))
oof_val_preds3 = np.zeros((X.shape[0], 2))
oof_test_preds = np.zeros((X_test.shape[0], 2))

# OOF
ests = [12, 23, 17]
volumes = [1000, 1000, 1200]
for fold, (train_idx, valid_idx) in enumerate(skf.split(X, y)):

    print('#'*30, f'Fold [{fold+1}/{skf.n_splits}]', '#'*30)

    # train, valid data 설정
    X_train, y_train = X[train_idx], y[train_idx]
    X_valid, y_valid = X[valid_idx], y[valid_idx]
    
    strategy = {0:volumes[fold], 1:volumes[fold]}
    # strategy = 'auto'
    smote = SMOTE(random_state=random_seed, k_neighbors=4, sampling_strategy=strategy)
    X_train, y_train = smote.fit_resample(X_train, y_train)

    # 불균형 데이터 가중치 조정 값 => 음성(0) 타깃값 개수 / 양성(1) 타깃값 개수
    _, counts = np.unique(np.array(y_train), return_counts=True)
    scale_weight = counts[0] / counts[1]

    # XGBoost 모델 훈련
    xgb_model = XGBClassifier(
        **xgb_params,
        tree_method='gpu_hist',
        predictor='gpu_predictor',
        random_state=random_seed,
        n_estimators=ests[fold],
        n_jobs=-1
    )
    
    rf = RandomForestClassifier()
    lr = LogisticRegression(C=10)
    
    xgb_model.fit(X_train, y_train, eval_set=[(X_valid, y_valid)], eval_metric=calc_f1_score, verbose=True)
    rf.fit(X_train, y_train)
    lr.fit(X_train, y_train)

    oof_test_preds += xgb_model.predict_proba(X_test) / skf.n_splits
    oof_val_preds[valid_idx] += xgb_model.predict_proba(X_valid)
    oof_val_preds2[valid_idx] += rf.predict_proba(X_valid)
    oof_val_preds3[valid_idx] += lr.predict_proba(X_valid)
    
    #model save
    # xgb_model.save_model(f'./models/new_xgb_{skf.n_splits}_{fold}.json')
    del [[X_train, y_train, X_valid, y_valid, xgb_model]]
    gc.collect()

#     model score check
preds = np.argmax(oof_val_preds, axis=1)
preds2 = np.argmax(oof_val_preds2, axis=1)
preds3 = np.argmax(oof_val_preds3, axis=1)
print(f1_score(y, preds, average="macro"))
print(f1_score(y, preds2, average="macro"))
print(f1_score(y, preds3, average="macro"))

# # save OOF test preds
# np.save(f'./results/new_{skf.n_splits}_oof_test_preds.npy', oof_test_preds[:, 1])

############################## Fold [1/3] ##############################
[0]	validation_0-logloss:0.51318	validation_0-f1:0.95160
[1]	validation_0-logloss:0.40916	validation_0-f1:0.95160
[2]	validation_0-logloss:0.33960	validation_0-f1:0.95160
[3]	validation_0-logloss:0.29910	validation_0-f1:0.93500
[4]	validation_0-logloss:0.27308	validation_0-f1:0.95160
[5]	validation_0-logloss:0.25701	validation_0-f1:0.95160
[6]	validation_0-logloss:0.22941	validation_0-f1:0.96795
[7]	validation_0-logloss:0.20936	validation_0-f1:0.96795
[8]	validation_0-logloss:0.19249	validation_0-f1:0.96795
[9]	validation_0-logloss:0.18250	validation_0-f1:0.96795
[10]	validation_0-logloss:0.17759	validation_0-f1:0.96795
[11]	validation_0-logloss:0.17308	validation_0-f1:0.98407
############################## Fold [2/3] ##############################
[0]	validation_0-logloss:0.55264	validation_0-f1:0.88427
[1]	validation_0-logloss:0.44304	validation_0-f1:0.90000
[2]	validation_0-logloss:0.39847	validation_0-f1:0.90000
[3]	validation_0-logloss:0.35614	validation_0-f1:0.90000
[4]	validation_0-logloss:0.32432	validation_0-f1:0.90000
[5]	validation_0-logloss:0.30355	validation_0-f1:0.90000
[6]	validation_0-logloss:0.29508	validation_0-f1:0.91733
[7]	validation_0-logloss:0.28386	validation_0-f1:0.91733
[8]	validation_0-logloss:0.27357	validation_0-f1:0.93436
[9]	validation_0-logloss:0.26757	validation_0-f1:0.93436
[10]	validation_0-logloss:0.26425	validation_0-f1:0.93436
[11]	validation_0-logloss:0.26551	validation_0-f1:0.91733
[12]	validation_0-logloss:0.26052	validation_0-f1:0.91733
[13]	validation_0-logloss:0.25637	validation_0-f1:0.93436
[14]	validation_0-logloss:0.25496	validation_0-f1:0.91733
[15]	validation_0-logloss:0.25138	validation_0-f1:0.93436
[16]	validation_0-logloss:0.24896	validation_0-f1:0.93436
[17]	validation_0-logloss:0.24802	validation_0-f1:0.93436
[18]	validation_0-logloss:0.24656	validation_0-f1:0.93436
[19]	validation_0-logloss:0.24442	validation_0-f1:0.93436
[20]	validation_0-logloss:0.24418	validation_0-f1:0.93333
[21]	validation_0-logloss:0.24302	validation_0-f1:0.95040
[22]	validation_0-logloss:0.24150	validation_0-f1:0.95040
############################## Fold [3/3] ##############################
[0]	validation_0-logloss:0.51144	validation_0-f1:0.93522
[1]	validation_0-logloss:0.41244	validation_0-f1:0.93522
[2]	validation_0-logloss:0.34955	validation_0-f1:0.93522
[3]	validation_0-logloss:0.31110	validation_0-f1:0.95170
[4]	validation_0-logloss:0.27892	validation_0-f1:0.95170
[5]	validation_0-logloss:0.26382	validation_0-f1:0.95170
[6]	validation_0-logloss:0.25420	validation_0-f1:0.95170
[7]	validation_0-logloss:0.24362	validation_0-f1:0.95170
[8]	validation_0-logloss:0.23057	validation_0-f1:0.93594
[9]	validation_0-logloss:0.22523	validation_0-f1:0.93594
[10]	validation_0-logloss:0.21325	validation_0-f1:0.96797
[11]	validation_0-logloss:0.21104	validation_0-f1:0.96797
[12]	validation_0-logloss:0.20829	validation_0-f1:0.96797
[13]	validation_0-logloss:0.20166	validation_0-f1:0.96797
[14]	validation_0-logloss:0.20193	validation_0-f1:0.96797
[15]	validation_0-logloss:0.19612	validation_0-f1:0.96797
[16]	validation_0-logloss:0.19486	validation_0-f1:0.96797
0.9677257525083611
0.9302144466386671
0.9307384403036577

In [28]:
# random_seed = 33070

# y = torch.LongTensor(train2['class'].values)
# X = train2.drop(['id', 'class'], axis=1).to_numpy()
# X_test = test2.drop(['id', 'class'], axis=1).to_numpy()

# skf = StratifiedKFold(n_splits=3, shuffle=True, random_state=random_seed)

# oof_val_preds = np.zeros((X.shape[0], 2))
# oof_val_preds2 = np.zeros((X.shape[0], 2))
# oof_val_preds3 = np.zeros((X.shape[0], 2))
# oof_test_preds = np.zeros((X_test.shape[0], 2))

# # OOF
# ests = [100, 100, 100]
# volumes = [1000, 1000, 1200]
# for fold, (train_idx, valid_idx) in enumerate(skf.split(X, y)):

#     print('#'*30, f'Fold [{fold+1}/{skf.n_splits}]', '#'*30)

#     # train, valid data 설정
#     X_train, y_train = X[train_idx], y[train_idx]
#     X_valid, y_valid = X[valid_idx], y[valid_idx]
    
#     strategy = {0:volumes[fold], 1:volumes[fold]}
#     # strategy = 'auto'
#     smote = SMOTE(random_state=random_seed, k_neighbors=4, sampling_strategy=strategy)
#     X_train, y_train = smote.fit_resample(X_train, y_train)

#     # 불균형 데이터 가중치 조정 값 => 음성(0) 타깃값 개수 / 양성(1) 타깃값 개수
#     _, counts = np.unique(np.array(y_train), return_counts=True)
#     scale_weight = counts[0] / counts[1]

#     # XGBoost 모델 훈련
#     xgb_model = XGBClassifier(
#         **xgb_params,
#         tree_method='gpu_hist',
#         predictor='gpu_predictor',
#         random_state=random_seed,
#         n_estimators=ests[fold],
#         n_jobs=-1
#     )
    
#     rf = RandomForestClassifier()
#     lr = LogisticRegression(C=10)
    
#     xgb_model.fit(X_train, y_train, eval_set=[(X_valid, y_valid)], eval_metric=calc_f1_score, verbose=True)
#     rf.fit(X_train, y_train)
#     lr.fit(X_train, y_train)

#     oof_test_preds += xgb_model.predict_proba(X_test) / skf.n_splits
#     oof_val_preds[valid_idx] += xgb_model.predict_proba(X_valid)
#     oof_val_preds2[valid_idx] += rf.predict_proba(X_valid)
#     oof_val_preds3[valid_idx] += lr.predict_proba(X_valid)
    
#     #model save
#     # xgb_model.save_model(f'./models/new_xgb_{skf.n_splits}_{fold}.json')
#     del [[X_train, y_train, X_valid, y_valid, xgb_model]]
#     gc.collect()

# #     model score check
# preds = np.argmax(oof_val_preds, axis=1)
# preds2 = np.argmax(oof_val_preds2, axis=1)
# preds3 = np.argmax(oof_val_preds3, axis=1)
# print(f1_score(y, preds, average="macro"))
# print(f1_score(y, preds2, average="macro"))
# print(f1_score(y, preds3, average="macro"))

# # # save OOF test preds
# # np.save(f'./results/new_{skf.n_splits}_oof_test_preds.npy', oof_test_preds[:, 1])

In [29]:
train[train.preds_xgb > 0.5]['class'].value_counts()

0    69
Name: class, dtype: int64

In [30]:
train[train.preds_xgb < 0.5]['class'].value_counts()

1    114
2     79
Name: class, dtype: int64

In [32]:
len(test2[test2.preds_xgb > 0.5])

51

In [35]:
A_index = test2[test2.preds_xgb > 0.5].index.tolist()
answer = ((oof_test_preds[:, 1] > 0.5)+1).astype('int')
answer[A_index] = 0
answer

array([0, 1, 2, 2, 0, 1, 2, 1, 0, 0, 2, 1, 1, 0, 1, 1, 0, 1, 1, 2, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 2, 0, 1, 2, 1, 1, 2, 0, 1, 2, 1,
       1, 1, 1, 2, 1, 2, 0, 1, 0, 1, 1, 1, 2, 0, 1, 2, 0, 1, 2, 2, 2, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 2, 1, 2, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 1,
       2, 0, 1, 1, 2, 1, 1, 2, 0, 1, 0, 2, 0, 1, 1, 2, 0, 0, 2, 1, 0, 1,
       2, 1, 1, 1, 1, 0, 0, 2, 1, 2, 0, 1, 1, 2, 2, 1, 2, 1, 0, 1, 0, 0,
       1, 1, 1, 2, 0, 0, 1, 0, 0, 0, 2, 1, 1, 1, 0, 1, 2, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 2, 0, 1, 2, 2, 1, 0, 0, 2, 1, 1, 0, 1, 2, 2, 1, 1])

In [46]:
check1 = pd.DataFrame(answer, columns=['class'])
check1.value_counts()

class
1        84
0        51
2        40
dtype: int64

In [40]:
check2 = pd.read_csv("submit.csv")[['class']]
check2['class'] = check2['class'].map(lambda x : 0 if x=='A' else (1 if x=='B' else 2))
check2.value_counts()

class
1        84
0        51
2        40
dtype: int64

In [48]:
sum(check1['class'] == check2['class'])

169

In [49]:
submit_pred = answer
submit_file = pd.read_csv("./data/sample_submission.csv")
submit_file['class'] = submit_pred
submit_file['class'] = submit_file['class'].map(lambda x : "A" if x==0 else ( "B" if x==1 else "C"))
submit_file

           id class
0    TEST_000     A
1    TEST_001     B
2    TEST_002     C
3    TEST_003     C
4    TEST_004     A
..        ...   ...
170  TEST_170     B
171  TEST_171     C
172  TEST_172     C
173  TEST_173     B
174  TEST_174     B

[175 rows x 2 columns]

In [50]:
submit_file['class'].value_counts()

B    84
A    51
C    40
Name: class, dtype: int64

In [51]:
submit_file.to_csv("submit.csv", index=False)